.gc-block-media-text{
  box-sizing:border-box;
  direction:ltr;
  display:grid;
  grid-template-columns:50% 1fr;
  grid-template-rows:auto;
}
.gc-block-media-text.has-media-on-the-right{
  grid-template-columns:1fr 50%;
}

.gc-block-media-text.is-vertically-aligned-top .gc-block-media-text__content,.gc-block-media-text.is-vertically-aligned-top .gc-block-media-text__media{
  align-self:start;
}

.gc-block-media-text .gc-block-media-text__content,.gc-block-media-text .gc-block-media-text__media,.gc-block-media-text.is-vertically-aligned-center .gc-block-media-text__content,.gc-block-media-text.is-vertically-aligned-center .gc-block-media-text__media{
  align-self:center;
}

.gc-block-media-text.is-vertically-aligned-bottom .gc-block-media-text__content,.gc-block-media-text.is-vertically-aligned-bottom .gc-block-media-text__media{
  align-self:end;
}

.gc-block-media-text .gc-block-media-text__media{
  grid-column:1;
  grid-row:1;
  margin:0;
}

.gc-block-media-text .gc-block-media-text__content{
  direction:rtl;
  grid-column:2;
  grid-row:1;
  padding:0 8%;
  word-break:break-word;
}

.gc-block-media-text.has-media-on-the-right .gc-block-media-text__media{
  grid-column:2;
  grid-row:1;
}

.gc-block-media-text.has-media-on-the-right .gc-block-media-text__content{
  grid-column:1;
  grid-row:1;
}

.gc-block-media-text__media img,.gc-block-media-text__media video{
  height:auto;
  max-width:unset;
  vertical-align:middle;
  width:100%;
}

.gc-block-media-text.is-image-fill .gc-block-media-text__media{
  background-size:cover;
  height:100%;
  min-height:250px;
}

.gc-block-media-text.is-image-fill .gc-block-media-text__media>a{
  display:block;
  height:100%;
}

.gc-block-media-text.is-image-fill .gc-block-media-text__media img{
  clip:rect(0, 0, 0, 0);
  border:0;
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px;
}
@media (max-width:600px){
  .gc-block-media-text.is-stacked-on-mobile{
    grid-template-columns:100% !important;
  }
  .gc-block-media-text.is-stacked-on-mobile .gc-block-media-text__media{
    grid-column:1;
    grid-row:1;
  }
  .gc-block-media-text.is-stacked-on-mobile .gc-block-media-text__content{
    grid-column:1;
    grid-row:2;
  }
}