<!-- 404.html -->
<div class="app">
	<div class="layout">
		<!-- gc:template-part {"slug":"header","tagName":"div","align":"wide"} /-->
		<!-- Page Container START -->
        <div class="page-container">
        	<div class="main-content">
        		<div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="p-v-30">
                                <h1 class="font-weight-semibold display-1 text-primary lh-1-2">404</h1>
                                <h2 class="font-weight-light font-size-30">哎呀！你好像迷路了</h2>
                                <p class="lead m-b-30">我们没有找到你想要的东西</p>
                                <a href="/" class="btn btn-primary btn-tone">返回首页</a>
                            </div>
                        </div>
                        <div class="col-md-6 m-l-auto">
                            <img class="img-fluid" src="<!-- gc:get-template-directory-uri /-->/assets/images/others/error-1.png" alt="">
                        </div>
                    </div>
                </div>
			</div>
			<!-- gc:template-part {"slug":"footer","tagName":"footer"} /-->
		</div>
        <!-- Page Container END -->
	</div>
</div>
