<!-- gc:group {"className":"page-header","layout":{"inherit":true}} -->
<div class="gc-block-group page-header">
    <!-- gc:heading {"className":"header-title"} -->
    <h2 class="gc-block-heading header-title">首页</h2>
    <!-- /gc:heading -->
</div>
<!-- /gc:group -->
<!-- gc:query {"queryId":0,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"className":"container","layout":{"contentSize":null,"type":"constrained"}} -->
<div class="gc-block-query container">
    <!-- gc:post-template {"align":"wide","layout":{"type":"default"}} -->

        <!-- gc:pattern {"slug":"gcoa/hidden-postlist-card"} /-->

    <!-- /gc:post-template -->
    <!-- gc:query-no-results -->

        <!-- gc:pattern {"slug":"gcoa/hidden-no-results-content"} /-->
        
    <!-- /gc:query-no-results -->
    <!-- gc:group {"className":"m-t-30","layout":{"inherit":true}} -->
    <div class="gc-block-group m-t-30">
        <!-- gc:query-pagination-numbers /-->
    </div>
    <!-- /gc:group -->
</div>
<!-- /gc:query -->


