<!-- gc:group {"className":"page-header","layout":{"inherit":true}} -->
<div class="gc-block-group page-header">
    <!-- gc:query-title {"level":2,"type":"search","align":"wide","className":"header-title"} /-->
</div>
<!-- /gc:group -->
<!-- gc:html -->
<form role="search" method="get" action="/">
    <div class="d-flex align-items-center container col-md-3 m-b-10">
        <div class="input-affix m-r-10">
            <i class="prefix-icon anticon anticon-search"></i>
            <input type="text" class="form-control" value="<!-- gc:search-key /-->" placeholder="搜索">
        </div>
        <button class="btn btn-icon btn-default">
            <i class="anticon anticon-reload"></i>
        </button>
    </div>
</form>
<!-- /gc:html -->

<!-- gc:query {"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"layout":{"inherit":true},"className":"gc-block-query"} -->
<div class="gc-block-query container">
    <!-- gc:post-template {"align":"wide"} -->

    	<!-- gc:pattern {"slug":"gcoa/hidden-postlist-card"} /-->

    <!-- /gc:post-template -->
    <!-- gc:query-no-results -->

        <!-- gc:pattern {"slug":"gcoa/hidden-no-results-content"} /-->

    <!-- /gc:query-no-results -->

    <!-- gc:group {"className":"m-t-30","layout":{"inherit":true}} -->
    <div class="gc-block-group m-t-30">
        <!-- gc:query-pagination-numbers /-->
    </div>
    <!-- /gc:group -->
</div>
<!-- /gc:query -->
