<!-- gc:group {"className":"container","layout":{"inherit":true,"type":"constrained"}} -->
<div class="gc-block-group container">
	<!-- gc:group {"className":"card","layout":{"inherit":true,"type":"constrained"}} -->
	<div class="gc-block-group card">
		<!-- gc:group {"className":"card-body","layout":{"inherit":true,"type":"constrained"}} -->
		<div class="gc-block-group card-body">
			<!-- gc:group {"className":"container","layout":{"inherit":true,"type":"constrained"}} -->
			<div class="gc-block-group container">
				<!-- gc:post-title {"level":2,"className":"font-weight-normal m-b-10"} /-->
				<!-- gc:group {"className":"d-flex m-b-30","layout":{"inherit":true,"type":"constrained"}} -->
				<div class="gc-block-group d-flex m-b-30">
					<!-- gc:group {"className":"d-flex align-items-center m-t-5 m-b-15","layout":{"inherit":true,"type":"constrained"}} -->
					<div class="gc-block-group d-flex align-items-center m-t-5 m-b-15">
						<!-- gc:post-author {"avatarSize":24,"isLink":true,"className":"m-l-10"} /-->
						<!-- gc:post-date {"className":"m-l-10 text-gray"} /-->
					</div>
					<!-- /gc:group -->
				</div>
				<!-- /gc:group -->
				<!-- gc:post-featured-image /-->
				<!-- gc:post-content {"className":"m-t-30","layout":{"type":"constrained"}} /-->
				<!-- gc:group {"className":"d-flex m-t-40 align-items-center","layout":{"inherit":true,"type":"constrained"}} -->
				<div class="gc-block-group d-flex m-t-40 align-items-center">
					<!-- gc:post-terms {"term":"category","prefix":"分类: ","fontSize":"small"} /-->
				</div>
				<!-- /gc:group -->
				<!-- gc:group {"className":"d-flex m-t-10 align-items-center","layout":{"inherit":true,"type":"constrained"}} -->
				<div class="gc-block-group d-flex m-t-10 align-items-center">
					<!-- gc:post-terms {"term":"post_tag","prefix":"标签: ","fontSize":"small"} /-->
				</div>
				<!-- /gc:group -->
				<!-- gc:template-part {"slug":"comments","tagName":"section"} /-->
			</div>
			<!-- /gc:group -->
		</div>
		<!-- /gc:group -->
	</div>
	<!-- /gc:group -->
</div>
<!-- /gc:group -->