ol.gc-block-latest-comments{
  box-sizing:border-box;
  margin-left:0;
}

:where(.gc-block-latest-comments:not([style*=line-height] .gc-block-latest-comments__comment)){
  line-height:1.1;
}

:where(.gc-block-latest-comments:not([style*=line-height] .gc-block-latest-comments__comment-excerpt p)){
  line-height:1.8;
}

.has-dates :where(.gc-block-latest-comments:not([style*=line-height])),.has-excerpts :where(.gc-block-latest-comments:not([style*=line-height])){
  line-height:1.5;
}

.gc-block-latest-comments .gc-block-latest-comments{
  padding-left:0;
}

.gc-block-latest-comments__comment{
  list-style:none;
  margin-bottom:1em;
}
.has-avatars .gc-block-latest-comments__comment{
  list-style:none;
  min-height:2.25em;
}
.has-avatars .gc-block-latest-comments__comment .gc-block-latest-comments__comment-excerpt,.has-avatars .gc-block-latest-comments__comment .gc-block-latest-comments__comment-meta{
  margin-left:3.25em;
}

.gc-block-latest-comments__comment-excerpt p{
  font-size:.875em;
  margin:.36em 0 1.4em;
}

.gc-block-latest-comments__comment-date{
  display:block;
  font-size:.75em;
}

.gc-block-latest-comments .avatar,.gc-block-latest-comments__comment-avatar{
  border-radius:1.5em;
  display:block;
  float:left;
  height:2.5em;
  margin-right:.75em;
  width:2.5em;
}

.gc-block-latest-comments[class*=-font-size] a,.gc-block-latest-comments[style*=font-size] a{
  font-size:inherit;
}