.gc-block-quote{
  box-sizing:border-box;
  overflow-wrap:break-word;
}
.gc-block-quote.is-large:where(:not(.is-style-plain)),.gc-block-quote.is-style-large:where(:not(.is-style-plain)){
  margin-bottom:1em;
  padding:0 1em;
}
.gc-block-quote.is-large:where(:not(.is-style-plain)) p,.gc-block-quote.is-style-large:where(:not(.is-style-plain)) p{
  font-size:1.5em;
  font-style:italic;
  line-height:1.6;
}
.gc-block-quote.is-large:where(:not(.is-style-plain)) cite,.gc-block-quote.is-large:where(:not(.is-style-plain)) footer,.gc-block-quote.is-style-large:where(:not(.is-style-plain)) cite,.gc-block-quote.is-style-large:where(:not(.is-style-plain)) footer{
  font-size:1.125em;
  text-align:right;
}