.gc-block-pullquote.is-style-solid-color blockquote p{
  font-size:32px;
}
.gc-block-pullquote.is-style-solid-color .gc-block-pullquote__citation{
  font-style:normal;
  text-transform:none;
}

.gc-block-pullquote .gc-block-pullquote__citation{
  color:inherit;
}