.gc-block-table{
  margin:0;
}
.gc-block[data-align=center]>.gc-block-table,.gc-block[data-align=left]>.gc-block-table,.gc-block[data-align=right]>.gc-block-table{
  height:auto;
}
.gc-block[data-align=center]>.gc-block-table table,.gc-block[data-align=left]>.gc-block-table table,.gc-block[data-align=right]>.gc-block-table table{
  width:auto;
}
.gc-block[data-align=center]>.gc-block-table td,.gc-block[data-align=center]>.gc-block-table th,.gc-block[data-align=left]>.gc-block-table td,.gc-block[data-align=left]>.gc-block-table th,.gc-block[data-align=right]>.gc-block-table td,.gc-block[data-align=right]>.gc-block-table th{
  word-break:break-word;
}
.gc-block[data-align=center]>.gc-block-table{
  text-align:initial;
}
.gc-block[data-align=center]>.gc-block-table table{
  margin:0 auto;
}
.gc-block-table td,.gc-block-table th{
  border:1px solid;
  padding:.5em;
}
.gc-block-table td.is-selected,.gc-block-table th.is-selected{
  border-color:var(--gc-admin-theme-color);
  border-style:double;
  box-shadow:inset 0 0 0 1px var(--gc-admin-theme-color);
}
.gc-block-table table.has-individual-borders td,.gc-block-table table.has-individual-borders th,.gc-block-table table.has-individual-borders tr,.gc-block-table table.has-individual-borders>*{
  border:1px solid;
}

.blocks-table__placeholder-form.blocks-table__placeholder-form{
  align-items:flex-start;
  display:flex;
  flex-direction:column;
}
.blocks-table__placeholder-form.blocks-table__placeholder-form>*{
  margin-bottom:8px;
}
@media (min-width:782px){
  .blocks-table__placeholder-form.blocks-table__placeholder-form{
    align-items:flex-end;
    flex-direction:row;
  }
  .blocks-table__placeholder-form.blocks-table__placeholder-form>*{
    margin-bottom:0;
  }
}

.blocks-table__placeholder-input{
  margin-bottom:0;
  margin-right:8px;
  width:112px;
}
.blocks-table__placeholder-input input{
  height:36px;
}