.gc-block-comments-pagination>.gc-block-comments-pagination-next,.gc-block-comments-pagination>.gc-block-comments-pagination-numbers,.gc-block-comments-pagination>.gc-block-comments-pagination-previous{
  margin-bottom:.5em;
  margin-right:.5em;
}
.gc-block-comments-pagination>.gc-block-comments-pagination-next:last-child,.gc-block-comments-pagination>.gc-block-comments-pagination-numbers:last-child,.gc-block-comments-pagination>.gc-block-comments-pagination-previous:last-child{
  margin-right:0;
}
.gc-block-comments-pagination .gc-block-comments-pagination-previous-arrow{
  display:inline-block;
  margin-left:1ch;
}
.gc-block-comments-pagination .gc-block-comments-pagination-previous-arrow:not(.is-arrow-chevron){
  transform:scaleX(-1);;
}
.gc-block-comments-pagination .gc-block-comments-pagination-next-arrow{
  display:inline-block;
  margin-right:1ch;
}
.gc-block-comments-pagination .gc-block-comments-pagination-next-arrow:not(.is-arrow-chevron){
  transform:scaleX(-1);;
}
.gc-block-comments-pagination.aligncenter{
  justify-content:center;
}