.gc-block-video{
  box-sizing:border-box;
}
.gc-block-video video{
  width:100%;
}
@supports (position:sticky){
  .gc-block-video [poster]{
    object-fit:cover;
  }
}
.gc-block-video.aligncenter{
  text-align:center;
}
.gc-block-video figcaption{
  margin-bottom:1em;
  margin-top:.5em;
}