.gc-block-file:not(.gc-element-button){
  font-size:.8em;
}
.gc-block-file.aligncenter{
  text-align:center;
}
.gc-block-file.alignright{
  text-align:right;
}
.gc-block-file *+.gc-block-file__button{
  margin-right:.75em;
}

:where(.gc-block-file){
  margin-bottom:1.5em;
}

.gc-block-file__embed{
  margin-bottom:1em;
}

:where(.gc-block-file__button){
  border-radius:2em;
  display:inline-block;
  padding:.5em 1em;
}
:where(.gc-block-file__button):is(a):active,:where(.gc-block-file__button):is(a):focus,:where(.gc-block-file__button):is(a):hover,:where(.gc-block-file__button):is(a):visited{
  box-shadow:none;
  color:#fff;
  opacity:.85;
  text-decoration:none;
}