/* rtl:ignore */
.gc-color-picker {
  width: 80px;
  direction: ltr;
}

.gc-picker-container .hidden {
  display: none;
}

/* Needs higher specificiity. */
.gc-picker-container .gc-color-result.button {
  min-height: 30px;
  margin: 0 6px 6px 0;
  padding: 0 0 0 30px;
  font-size: 11px;
}

.gc-color-result-text {
  background: #f6f7f7;
  border-radius: 0 2px 2px 0;
  border-left: 1px solid #c3c4c7;
  color: #50575e;
  display: block;
  line-height: 2.54545455;
  /* 28px */
  padding: 0 6px;
  text-align: center;
}

.gc-color-result:hover,
.gc-color-result:focus {
  background: #f6f7f7;
  border-color: #8c8f94;
  color: #1d2327;
}

.gc-color-result:hover:after,
.gc-color-result:focus:after {
  color: #1d2327;
  border-color: #a7aaad;
  border-left: 1px solid #8c8f94;
}

.gc-picker-container {
  display: inline-block;
}

.gc-color-result:focus {
  border-color: #4f94d4;
  box-shadow: 0 0 3px rgba(34, 113, 177, 0.8);
}

.gc-color-result:active {
  /* See Trac ticket #39662 */
  transform: none !important;
}

.gc-picker-open + .gc-picker-input-wrap {
  display: inline-block;
  vertical-align: top;
}

.gc-picker-input-wrap label {
  display: inline-block;
  vertical-align: top;
}

/* For the old `custom-background` page, to override the inline-block and margins from `.form-table td fieldset label`. */
.form-table .gc-picker-input-wrap label {
  margin: 0 !important;
}

.gc-picker-input-wrap .button.gc-picker-default,
.gc-picker-input-wrap .button.gc-picker-clear,
.gc-customizer .gc-picker-input-wrap .button.gc-picker-default,
.gc-customizer .gc-picker-input-wrap .button.gc-picker-clear {
  margin-left: 6px;
  padding: 0 8px;
  line-height: 2.54545455;
  /* 28px */
  min-height: 30px;
}

.gc-picker-container .iris-square-slider .ui-slider-handle:focus {
  background-color: #50575e;
}

.gc-picker-container .iris-picker {
  border-radius: 0;
  border-color: #dcdcde;
  margin-top: 6px;
}

.gc-picker-container input[type=text].gc-color-picker {
  width: 4rem;
  font-size: 12px;
  font-family: monospace;
  line-height: 2.33333333;
  /* 28px */
  margin: 0;
  padding: 0 5px;
  vertical-align: top;
  min-height: 30px;
}

.gc-color-picker::-webkit-input-placeholder {
  color: #646970;
}

.gc-color-picker::-moz-placeholder {
  color: #646970;
  opacity: 1;
}

.gc-color-picker:-ms-input-placeholder {
  color: #646970;
}

.gc-picker-container input[type=text].iris-error {
  background-color: #fcf0f1;
  border-color: #d63638;
  color: #000;
}

.iris-picker .ui-square-handle:focus,
.iris-picker .iris-strip .ui-slider-handle:focus {
  border-color: #3582c4;
  border-style: solid;
  box-shadow: 0 0 0 1px #3582c4;
  outline: 2px solid transparent;
}

.iris-picker .iris-palette:focus {
  box-shadow: 0 0 0 2px #3582c4;
}

@media screen and (max-width: 782px) {
  .gc-picker-container input[type=text].gc-color-picker {
    width: 5rem;
    font-size: 16px;
    line-height: 1.875;
    /* 30px */
    min-height: 32px;
  }

  .gc-customizer .gc-picker-container input[type=text].gc-color-picker {
    padding: 0 5px;
  }

  .gc-picker-input-wrap .button.gc-picker-default,
.gc-picker-input-wrap .button.gc-picker-clear {
    padding: 0 8px;
    line-height: 2.14285714;
    /* 30px */
    min-height: 32px;
  }

  .gc-customizer .gc-picker-input-wrap .button.gc-picker-default,
.gc-customizer .gc-picker-input-wrap .button.gc-picker-clear {
    padding: 0 8px;
    font-size: 14px;
    line-height: 2.14285714;
    /* 30px */
    min-height: 32px;
  }

  .gc-picker-container .gc-color-result.button {
    padding: 0 0 0 40px;
    font-size: 14px;
    line-height: 2.14285714;
    /* 30px */
  }

  .gc-customizer .gc-picker-container .gc-color-result.button {
    font-size: 14px;
    line-height: 2.14285714;
    /* 30px */
  }

  .gc-picker-container .gc-color-result-text {
    padding: 0 14px;
    font-size: inherit;
    line-height: inherit;
  }

  .gc-customizer .gc-picker-container .gc-color-result-text {
    padding: 0 10px;
  }
}