<!-- gc:template-part {"slug":"header","tagName":"header"} /-->

<!-- gc:group {"tagName":"main"} -->
<main class="gc-block-group"><!-- gc:group {"layout":{"inherit":true}} -->
<div class="gc-block-group"><!-- gc:post-title {"level":1,"align":"wide","style":{"spacing":{"margin":{"bottom":"var(--gc--custom--spacing--medium, 6rem)"}}}} /-->

<!-- gc:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"bottom":"var(--gc--custom--spacing--medium, 6rem)"}}}} /--></div>
<!-- /gc:group -->

<!-- gc:post-content {"layout":{"inherit":true}} /-->

<!-- gc:group {"layout":{"inherit":true}} -->
<div class="gc-block-group">
<!-- gc:post-comments {"style":{"spacing":{"padding":{"top":"var(--gc--custom--spacing--medium, 6rem)"}}}} /--></div>
<!-- /gc:group --></main>
<!-- /gc:group -->

<!-- gc:template-part {"slug":"footer","tagName":"footer"} /-->
