.gc-block-query-pagination>.gc-block-query-pagination-next,.gc-block-query-pagination>.gc-block-query-pagination-numbers,.gc-block-query-pagination>.gc-block-query-pagination-previous{
  margin-bottom:.5em;
  margin-right:.5em;
}
.gc-block-query-pagination>.gc-block-query-pagination-next:last-child,.gc-block-query-pagination>.gc-block-query-pagination-numbers:last-child,.gc-block-query-pagination>.gc-block-query-pagination-previous:last-child{
  margin-right:0;
}
.gc-block-query-pagination.is-content-justification-space-between>.gc-block-query-pagination-next:last-of-type{
  margin-inline-start:auto;
}
.gc-block-query-pagination.is-content-justification-space-between>.gc-block-query-pagination-previous:first-child{
  margin-inline-end:auto;
}
.gc-block-query-pagination .gc-block-query-pagination-previous-arrow{
  display:inline-block;
  margin-right:1ch;
}
.gc-block-query-pagination .gc-block-query-pagination-previous-arrow:not(.is-arrow-chevron){
  transform:scaleX(1);
}
.gc-block-query-pagination .gc-block-query-pagination-next-arrow{
  display:inline-block;
  margin-left:1ch;
}
.gc-block-query-pagination .gc-block-query-pagination-next-arrow:not(.is-arrow-chevron){
  transform:scaleX(1);
}
.gc-block-query-pagination.aligncenter{
  justify-content:center;
}