.gc-block-query-pagination-numbers a{
  text-decoration:underline;
}
.gc-block-query-pagination-numbers .page-numbers{
  margin-left:2px;
}
.gc-block-query-pagination-numbers .page-numbers:last-child{
  margin-right:0;
}