/**
 * Colors
 */
/**
 * Breakpoints & Media Queries
 */
/**
 * SCSS Variables.
 *
 * Please use variables from this sheet to ensure consistency across the UI.
 * Don't add to this sheet unless you're pretty sure the value will be reused in many places.
 * For example, don't add rules to this sheet that affect block visuals. It's purely for UI.
 */
/**
 * Colors
 */
/**
 * Fonts & basic variables.
 */
/**
 * Grid System.
 * https://make.gechiui.com/design/2019/10/31/proposal-a-consistent-spacing-system-for-gechiui/
 */
/**
 * Dimensions.
 */
/**
 * Shadows.
 */
/**
 * Editor widths.
 */
/**
 * Block & Editor UI.
 */
/**
 * Block paddings.
 */
/**
 * React Native specific.
 * These variables do not appear to be used anywhere else.
 */
/**
*  Converts a hex value into the rgb equivalent.
*
* @param {string} hex - the hexadecimal value to convert
* @return {string} comma separated rgb values
*/
/**
 * Breakpoint mixins
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Focus styles.
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
/**
 * Allows users to opt-out of animations via OS-level preferences.
 */
/**
 * Reset default styles for JavaScript UI based pages.
 * This is a GC-admin agnostic reset
 */
/**
 * Reset the GC Admin page styles for Gutenberg-like pages.
 */
.gc-block[data-align=left] > [data-type="core/embed"],
.gc-block[data-align=right] > [data-type="core/embed"],
.gc-block-embed.alignleft,
.gc-block-embed.alignright {
  max-width: 360px;
  width: 100%;
}
.gc-block[data-align=left] > [data-type="core/embed"] .gc-block-embed__wrapper,
.gc-block[data-align=right] > [data-type="core/embed"] .gc-block-embed__wrapper,
.gc-block-embed.alignleft .gc-block-embed__wrapper,
.gc-block-embed.alignright .gc-block-embed__wrapper {
  min-width: 280px;
}

.gc-block-cover .gc-block-embed {
  min-width: 320px;
  min-height: 240px;
}

.gc-block-embed {
  margin: 0 0 1em 0;
  overflow-wrap: break-word;
}
.gc-block-embed figcaption {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.gc-block-embed iframe {
  max-width: 100%;
}

.gc-block-embed__wrapper {
  position: relative;
}

.gc-embed-responsive .gc-has-aspect-ratio .gc-block-embed__wrapper::before {
  content: "";
  display: block;
  padding-top: 50%;
}
.gc-embed-responsive .gc-has-aspect-ratio iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.gc-embed-responsive .gc-embed-aspect-21-9 .gc-block-embed__wrapper::before {
  padding-top: 42.85%;
}
.gc-embed-responsive .gc-embed-aspect-18-9 .gc-block-embed__wrapper::before {
  padding-top: 50%;
}
.gc-embed-responsive .gc-embed-aspect-16-9 .gc-block-embed__wrapper::before {
  padding-top: 56.25%;
}
.gc-embed-responsive .gc-embed-aspect-4-3 .gc-block-embed__wrapper::before {
  padding-top: 75%;
}
.gc-embed-responsive .gc-embed-aspect-1-1 .gc-block-embed__wrapper::before {
  padding-top: 100%;
}
.gc-embed-responsive .gc-embed-aspect-9-16 .gc-block-embed__wrapper::before {
  padding-top: 177.77%;
}
.gc-embed-responsive .gc-embed-aspect-1-2 .gc-block-embed__wrapper::before {
  padding-top: 200%;
}